<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <title>MongoDB Movies</title>
</head>

<body>
    <div class="header">
        <a href="/home">Home</a>
        <a href="/recomendation">Recomendation Page</a>
    </div>
    <main class="container">
        <form action="/movies" method="POST">
            <h1>MongoDB Movies</h1>
            <label for="keyWord">Palabra Clave:</label>
            <input type="text" id="keyWord" name="keyWord" required>
            <label for="type">Tipo de filmación:</label>
            <select id="type" name="type" required>
                <option value="">Todos los tipos</option>
                <option value="Pelicula">Película</option>
                <option value="Serie">Serie</option>
            </select>
            <label for="director">Director:</label>
            <input type="text" id="director" name="director" required>
            <button type="submit">Add Movie</button>
        </form>
        <div class="movies">
            <h2>Movies List</h2>
            <% if (movies && movies.length> 0) { %>
                <article>
                    <% movies.forEach(movie=> { %>
                        <header style="text-align: center;">
                            <strong>
                                <%= movie.title %>
                            </strong>
                        </header>
                        <img src="<%= movie.poster %>" alt="Movie Poster" width="500"
                            style="display: block; margin: 0 auto;">
                        <p>
                            <%= movie.fullplot %> (<%= movie.released %>)
                        </p>

                        <% }) %>
                            </ul>
                            <% } else { %>
                                <p>No hay películas para mostrar</p>
                                <% } %>
    </main>
</body>

</html>